﻿
@{ ViewData["Title"] = "Площадь поверхности шарового сегмента"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1><center>Вычисление площади сектора шара<center></h1>
    <div>
        <figure>
            <img src="https://allcalc.ru/images/ploshadksectora2.png" alt="Результат" />
        </figure>
        <form action="" method="post">
            <input type="number" name="radius" placeholder="Радиус" value="" />
            <input type="number" name="nka" placeholder="Высота" value="" />
            <button>Рассчитать</button>


            <p>
                <h1>
                    Результат: @ViewBag.Result
                </h1>
            </p>
        </form>
    </div>
</body>
</html>


